.ox-application{
   background-color: hsl(240, 7%, 8%);
   border-radius: 16px;
   border: 1px solid hsla(0, 0%, 100%, 0.03);
   box-shadow: inset 0 -2px 0.5px hsla(0, 0%, 0%, 0.4), inset 0 1px 0.5px hsla(0, 0%, 100%, 0.16);
   cursor: pointer;
   padding: 32px 32px;

   &__appicon{
      height: 56px;
      width: 56px;
      background-color: hsl(240, 8%, 12%);
      border: 1px solid hsla(0, 0%, 100%, 0.06);
      border-radius: 8px;
      margin-bottom: 24px;
   }
   &__title{
      font-size: rem(18px);
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to top, hsl(213, 8%, 23%), hsl(0, 0%, 100%) 80%);
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 16px;
   }
}