.ox-feature{
   text-align: center;
   &__id{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: rgb(255, 255, 255);
      background: rgba(255, 255, 255, 0.06);
      margin: 24px auto;
      &::before{
         content: "";
         position: absolute;
         left: 50%;
         top: 50%;
         width: 85px;
         height: 85px;
         transform: translate(-50%, -50%);
         border-radius: 50%;
         background: linear-gradient(0deg, rgba(54, 58, 63, 0.03) 0%, rgba(255, 255, 255, 0.03) 75%);

      }
   }
   &__desc{
      max-width: 70%;
      margin: 0 auto;
   }
}
