.ox-features{
   &__content{
      position: static;
   }
   &__cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .ox-feature{
      width: 100%;
   }
}

@include media(md){
   .ox-features{
      &__cards{
         margin: 0 -16px;
      }
      .ox-feature{
         width: calc(50% - 32px);
         margin: 0 16px;
      }
   }
}

@include media(lg){
   .ox-features{
      &__cards{
         margin: 0 -16px;
      }
      .ox-feature{
         width: calc(33.33% - 32px);
         margin: 0 16px;
      }
   }
}