@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
   font-family: 'Inter', sans-serif;
   font-size: rem(14px);
   font-weight: 400;
   line-height: rem(20px);
   color: hsl(224, 8%, 64%);
   background-color: hsl(240, 20%, 3%);
}

.container{
   max-width: 1200px;
   width: 100%;
   padding: 0 16px;
   margin: 0 auto;
}